
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pageWithOutLayout</title>
    <h1>custom layout</h1>
</head>
<body>
</body>
</html>
