@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add";
}

<h1>Add Page</h1>
@model Product


<form asp-controller="Product" asp-action="SaveProduct" method="post">
    <label class="form-label" asp-for="Name">Product Name: </label>
    <input type="text" class="form-control" asp-for="Name" />
    
    <label class="form-label" asp-for="Stok">Product Stok: </label>
    <input type="text" class="form-control" asp-for="Stok" />

    <label class="form-label" asp-for="Price">Product Price: </label>
    <input type="text" class="form-control" asp-for="Price" />

    <label class="form-label" asp-for="Color">Product Color: </label>
    <input type="text" class="form-control" asp-for="Color" />

    <label class="form-label" asp-for="Description">Product Description: </label>
    <input type="text" class="form-control" asp-for="Description" />

    <label class="form-label" asp-for="ozellik">Product Ozellik: </label>
    <input type="text" class="form-control" asp-for="ozellik" />

    

    <input class="form-check-label" asp-for="isPublished" />
    <label class="btn btn-outline-primary" for="btnCheck"> Is Publish?</label>


    @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Expire" id="@item.Key" value="@item.Value" />
            <label class="form-check-label" for="@item.Key">@item.Key</label>
        </div>
    }

    <div class="mb-3">
        <label asp-for="PublishedDate" class="form-label">Publish Date</label>
        <input class="form-control" asp-for="PublishedDate" />
    </div>

    <button type="submit" class="btn btn-primary" >Save</button>

    

</form>